<!--
  Generated template for the CiudadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gastos tours</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <div *ngIf="!cargar">

    	<ion-grid *ngFor="let gasto of items; let i = index" (click)="abrir_gasto(gasto)">                             
            <!--ion-row>  
                <ion-col col-6 align-self-center>
                        <button ion-button color="primary" type="button" (click)="crearSolicitud(solicitud)" >Aceptar</button>
                </ion-col>
                <ion-col col-6 align-self-center>
                        <button ion-button color="danger" type="button" (click)="borrarSolicitud(solicitud)" >Rechazar</button>
                </ion-col>
            </ion-row!--> 

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Nombre</b>
                </ion-col>
                <ion-col col-8>
                    {{gasto.name}}         
                </ion-col>       
            </ion-row>
            <ion-row align-items-center class="borde">  
                <ion-col col-4>
                    <b>Ciudades</b>
                </ion-col>
                <ion-col col-8>
                    {{gasto.ciudades}}         
                </ion-col>       
            </ion-row>           
            
        </ion-grid>

    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
