<!--
  Generated template for the CiudadDPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalles concepto</ion-title>
        <ion-buttons end>
            <button ion-button icon-end (click)="closeModal()">
                     <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Guardando...</b>
    </div>

    <div *ngIf="!cargar">

    	<ion-grid>
            <ion-row *ngIf="!control" >  
                <ion-col col-6 align-self-center>
                        <button ion-button color="primary" type="button" (click)="editar()">Editar</button>
                </ion-col>
                <ion-col col-6 align-self-center>
                        <button ion-button color="danger" type="button" (click)="borrar()">Eliminar</button>
                </ion-col>
            </ion-row> 
            <ion-row *ngIf="control" >  
                <ion-col col-12 align-self-center>
                        <button ion-button color="primary" type="button" (click)="guardar()">Guardar</button>
                </ion-col>
            </ion-row> 

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Nombre</b>
                </ion-col>
                <ion-col col-8>
                	<ion-input name="concep.name" [readonly]="read" type="text" placeholder="Nombre" [(ngModel)]="concep.name"></ion-input>                     
                </ion-col>       
            </ion-row>
            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Ciudades</b>
                </ion-col>
                <ion-col col-8>
                	<ion-select name="concep.ciudades" [disabled]="read" [(ngModel)]="concep.ciudades" multiple="true">        
                        <ion-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.name}}</ion-option>        
                    </ion-select>           
                </ion-col>       
            </ion-row>            
            
            
        </ion-grid>

    </div>

</ion-content>
