<!--
  Generated template for the CiudadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Resumen de movimientos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <div *ngIf="!cargar">

        <ion-searchbar
          showCancelButton="true"
          (ionInput)="getItems($event)"
          (ionCancel)="onCancel($event)">          
        </ion-searchbar>


    	<ion-grid *ngFor="let resumen of items; let i = index" (click)="abrir_resumen(resumen)">                             
            <!--ion-row>  
                <ion-col col-6 align-self-center>
                        <button ion-button color="primary" type="button" (click)="crearSolicitud(solicitud)" >Aceptar</button>
                </ion-col>
                <ion-col col-6 align-self-center>
                        <button ion-button color="danger" type="button" (click)="borrarSolicitud(solicitud)" >Rechazar</button>
                </ion-col>
            </ion-row!--> 

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Concepto</b>
                </ion-col>
                <ion-col col-8>
                    {{resumen.concepto_id[1]}}         
                </ion-col>       
            </ion-row>
            <ion-row align-items-center >  
                <ion-col col-4>
                    <b>Ciudad</b>
                </ion-col>
                <ion-col col-8>
                    {{resumen.name[1]}}         
                </ion-col>       
            </ion-row>   

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Evento</b>
                </ion-col>
                <ion-col col-8>
                    {{resumen.evento_id[1]}}         
                </ion-col>       
            </ion-row>

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Día</b>
                </ion-col>
                <ion-col col-8>
                    {{resumen.dia}}         
                </ion-col>       
            </ion-row>
            
            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Total pago clientes</b>
                </ion-col>
                <ion-col col-8>
                    {{resumen.Total_Pago_Clientes}}         
                </ion-col>       
            </ion-row>

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Total pago web</b>
                </ion-col>
                <ion-col col-8>
                    {{resumen.Total_Pagado_Web}}         
                </ion-col>       
            </ion-row>
                   
            
        </ion-grid>

    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
