<!--
  Generated template for the EventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalles Reserva</ion-title>
    <!--ion-buttons end>
        <button ion-button icon-only (click)="closeModal('x')">
                <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
    </ion-buttons-->
  </ion-navbar>

	

	<ion-toolbar>
        <ion-row class="filters">
            <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
                <ion-icon *ngIf="showLeftButton" name="ios-arrow-back"></ion-icon>
            </ion-col>
            <ion-col no-padding col-10>
                <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
                    <ion-slide (click)="filterData(category.id)" *ngFor="let category of categories">
                        <p [class.selected]="selectedCategory?.id === category.id">{{ category.name }}</p>
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
                <ion-icon *ngIf="showRightButton" name="ios-arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>

    </ion-toolbar>
    <ion-segment *ngIf="ver_segmento">
        <ion-segment-button  value="camera" icon-start (click)="editar()">
                            <ion-icon ios="ios-create" md="md-create"></ion-icon>
            Editar
        </ion-segment-button>
        <ion-segment-button value="bookmark" icon-start (click)="guardar(null)">
                            <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
            Guardar
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content >

	<div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
	</div>

<div *ngIf="!cargar">
	<!--<ion-slides>
	<ion-slide>
	<h1>Slide 1</h1>
	</ion-slide>
	<ion-slide>
	<h1>Slide 2</h1>
	</ion-slide>
	<ion-slide>
	<h1>Slide 3</h1>
	</ion-slide>
	</ion-slides>-->
	<ion-grid *ngIf="ver_resumen">                 
	    
	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Cliente</b>
	        </ion-col>
	        <ion-col col-6>
	           <ion-input name="evento.cliente_id"  readonly type="text" [(ngModel)]="evento.cliente_id[1]"></ion-input>
	        </ion-col>       
	    </ion-row>  

	    <ion-row align-items-center (click)="abrirReserva()">  
	        <ion-col col-6>
	            <b>Evento Padre</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.evento_id" style="color: #85C1E9"  readonly type="text" [(ngModel)]="evento.evento_id[1]"></ion-input>
	        </ion-col>       
	    </ion-row>    
<!--
	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Tipo de servicio</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento."  [readonly]="!editable" type="text" [(ngModel)]="evento."></ion-input>
	        </ion-col>       
	    </ion-row>    
-->
	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Transporte</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.Transporte"  [readonly]="!editable" type="text" [(ngModel)]="evento.Transporte"></ion-input>
	        </ion-col>       
	    </ion-row>    

	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Fecha</b>
	        </ion-col>
	        <ion-col col-6>
	        	<!--ion-datetime  name="evento.Fecha_Inicio" displayFormat="YYYY-MM-DD"  [disabled]="!editable" [(ngModel)]="evento.Fecha_Inicio"></ion-datetime-->

	            <ion-input name="evento.Fecha_Inicio"  [readonly]="!editable" type="text" [(ngModel)]="evento.Fecha_Inicio"></ion-input>
	        </ion-col>       
	    </ion-row>    

	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Hora inicio</b>
	        </ion-col>
	        <ion-col col-6>
	        	<!--ion-datetime  name="evento.hora_inicio" displayFormat="HH:mm"  [disabled]="!editable" [(ngModel)]="evento.hora_inicio"></ion-datetime-->

	            <ion-input name="evento.hora_inicio"  [readonly]="!editable" type="text" [(ngModel)]="evento.hora_inicio"></ion-input>
	        </ion-col>       
	    </ion-row>    

	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Hora fin</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.hora_final"  [readonly]="!editable" type="text" [(ngModel)]="evento.hora_final"></ion-input>
	        </ion-col>       
	    </ion-row>    

	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Guía</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.guia_id"  readonly type="text" [(ngModel)]="evento.guia_id[1]"></ion-input>
	        </ion-col>       
	    </ion-row>    

	    <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Chofer</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.chofer_id"  readonly type="text" [(ngModel)]="evento.chofer_id[1]"></ion-input>
	        </ion-col>       
	    </ion-row>    

	     <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Hotel</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.hotel_id"  readonly type="text" [(ngModel)]="evento.hotel_id[1]"></ion-input>
	        </ion-col>       
	    </ion-row>

	     <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Numero de personas</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.numero_pax"  [readonly]="!editable" type="number" [(ngModel)]="evento.numero_pax"></ion-input>
	        </ion-col>       
	    </ion-row>

	     <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Ciudad</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-input name="evento.ciudad_id"  readonly type="text" [(ngModel)]="evento.ciudad_id[1]"></ion-input>
	        </ion-col>       
	    </ion-row>
	 	<div *ngIf="ver_segmento">
		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Servicios (gastos)</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.Servicio_Gastos"  [readonly]="!editable" type="number" [(ngModel)]="evento.Servicio_Gastos"></ion-input>
		        </ion-col>       
		    </ion-row>
		    
		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos RUB</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.gasto_rub"  readonly type="number" [(ngModel)]="evento.gasto_rub"></ion-input>
		        </ion-col>       
		    </ion-row>

		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos USD</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.gasto_usd"  readonly type="number" [(ngModel)]="evento.gasto_usd"></ion-input>
		        </ion-col>       
		    </ion-row>

		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos EUR</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.gasto_eur"  readonly type="number" [(ngModel)]="evento.gasto_eur"></ion-input>
		        </ion-col>       
		    </ion-row>

		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos TC RUB</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.tarjeta_rub"  readonly type="number" [(ngModel)]="evento.tarjeta_rub"></ion-input>
		        </ion-col>       
		    </ion-row>

		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos TC USD</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.tarjeta_usd"  readonly type="number" [(ngModel)]="evento.tarjeta_usd"></ion-input>
		        </ion-col>       
		    </ion-row>

		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos TC EUR</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.tarjeta_eur"  readonly type="number" [(ngModel)]="evento.tarjeta_eur"></ion-input>
		        </ion-col>       
		    </ion-row>

		    <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Gastos PayPal</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.gasto_paypal"  readonly type="number" [(ngModel)]="evento.gasto_paypal"></ion-input>
		        </ion-col>       
		    </ion-row>

		     <ion-row align-items-center>  
		        <ion-col col-6>
		            <b>Total Representante</b>
		        </ion-col>
		        <ion-col col-6>
		            <ion-input name="evento.Total_Representante"  [readonly]="!editable" type="number" [(ngModel)]="evento.Total_Representante"></ion-input>
		        </ion-col>       
		    </ion-row>	    
		</div>
    </ion-grid>

    <ion-grid *ngIf="ver_descripcion">

 		<ion-row align-items-center>  
	        <ion-col col-12>
	            <b>Descripción del servicio</b>
	        </ion-col>
	    </ion-row>

	    <ion-row align-items-center>  
	        <ion-col col-12>

	            <textarea class="desText" id="message" rows="15" (click)="adjustTextarea($event);" name="evento.message" [readonly]="!editable" [(ngModel)]="evento.message"  #message> </textarea>
	        </ion-col>       
	    </ion-row>

	     <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Transporte privado</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-checkbox name="evento.is_traslado" [disabled] = "!editable" [(ngModel)]="evento.is_traslado"></ion-checkbox>
	        </ion-col>       
	    </ion-row>

	     <ion-row align-items-center>  
	        <ion-col col-6>
	            <b>Guía privado</b>
	        </ion-col>
	        <ion-col col-6>
	            <ion-checkbox name="evento.is_guia"  [disabled] = "!editable" [(ngModel)]="evento.is_guia"></ion-checkbox>
	        </ion-col>       
	    </ion-row>

    </ion-grid>

    <ion-grid *ngIf="ver_segmento && ver_gastos">

    	<div *ngIf="ver_segmento">
    		<ion-row align-items-center>  
	            <ion-col col-4>
	                <b>Concepto</b>
	            </ion-col>
	            <ion-col col-2>
	                <b>Moneda</b>
	            </ion-col>       
	            <ion-col col-3>
	                <b>Total</b>
	            </ion-col>
	            <ion-col col-3>
	                <b>Fecha</b>
	            </ion-col>
	        </ion-row>        
	        <ion-row class="borde" *ngFor="let gasto of gastostoursline_ids; let i = index" align-items-center (click)="abrirGasto(gasto)">  
	            <ion-col col-4>
	                {{gasto.concepto_gasto_id[1]}}
	            </ion-col>
	            <ion-col col-2>
	                {{gasto.tipo_moneda}}
	            </ion-col>       
	            <ion-col col-3>
	                {{gasto.Total}}
	            </ion-col>
	            <ion-col col-3>
	                {{gasto.fecha}}
	            </ion-col>       
	        </ion-row>	        
	    	<ion-row *ngIf="editable" align-items-center>  
	            <ion-col col-4>
                    <button ion-button color="danger" type="button" (click)="agregarGasto()" >Agregar</button>
	            </ion-col>
	        </ion-row>	
    	</div>


    			
    </ion-grid>

    <ion-grid *ngIf="ver_documentos">

    	<div *ngIf="ver_download" style="text-align: center">    
        	<ion-spinner name="circles"></ion-spinner><br>
        	<b>Descargando archivo...</b>
		</div>
		
		<ion-row align-items-center>  
            <ion-col col-8>
                <b>Nombre</b>
            </ion-col>
            <ion-col col-4>
                <b>Decargar</b>
            </ion-col>                  
        </ion-row>        
        <ion-row class="borde" *ngFor="let att of attachment; let i = index" align-items-center >  
            <ion-col col-8>
                {{att.name}}
            </ion-col>
            <ion-col col-4>
                <a (click)="descargarAtt(att)">Descargar: {{att.file_size}}</a>
            </ion-col>                    
        </ion-row>	        
    	<ion-row *ngIf="editable" align-items-center>  
            <ion-col col-4>
                <button ion-button color="danger" type="button" (click)="agregarAttachment()" >Agregar</button>
            </ion-col>
        </ion-row>	
    	

    </ion-grid>

    <ion-grid *ngIf="ver_comentarios">

    	<ion-row align-items-center>  
	        <ion-col col-12>
	            <b>Comentarios cliente</b>
	        </ion-col>
	    </ion-row>

	    <ion-row align-items-center>  
	        <ion-col col-12>
	            <ion-textarea name="evento.Comentarios_Cliente" [readonly]="!editable" [(ngModel)]="evento.Comentarios_Cliente"> </ion-textarea>
	        </ion-col>       
	    </ion-row>
	    <div *ngIf="ver_segmento">
	    	<ion-row align-items-center>  
		        <ion-col col-12>
		            <b>Comentarios internos</b>
		        </ion-col>
		    </ion-row>

		    <ion-row align-items-center>  
		        <ion-col col-12>
		            <ion-textarea name="evento.Comentarios_Internos" [readonly]="!editable" [(ngModel)]="evento.Comentarios_Internos"> </ion-textarea>
		        </ion-col>       
		    </ion-row>

		    <ion-row align-items-center>  
		        <ion-col col-12>
		            <b>Comentarios guía</b>
		        </ion-col>
		    </ion-row>

		    <ion-row align-items-center>  
		        <ion-col col-12>
		            <ion-textarea name="evento.Comentarios_Guia" [readonly]="!editable" [(ngModel)]="evento.Comentarios_Guia"> </ion-textarea>
		        </ion-col>       
		    </ion-row>	    

			<ion-row align-items-center>  
		        <ion-col col-12>
		            <b>Comentarios chofer</b>
		        </ion-col>
		    </ion-row>

		    <ion-row align-items-center>  
		        <ion-col col-12>
		            <ion-textarea name="evento.Comentarios_Chofer" [readonly]="!editable" [(ngModel)]="evento.Comentarios_Chofer"> </ion-textarea>
		        </ion-col>       
		    </ion-row>
    
	    </div>
		
	    
    </ion-grid>

</div>

</ion-content>
