<!--
  Generated template for the CiudadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Clientes</ion-title>
    <ion-buttons end>        
         <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

	<div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <div *ngIf="!cargar">

        <ion-searchbar
          showCancelButton="true"
          (ionInput)="getItems($event)"
          (ionCancel)="onCancel($event)">          
        </ion-searchbar>

    	<ion-grid *ngFor="let cliente of items; let i = index" (click)="abrir(cliente)">                             
            <!--ion-row>  
                <ion-col col-6 align-self-center>
                        <button ion-button color="primary" type="button" (click)="crearSolicitud(solicitud)" >Aceptar</button>
                </ion-col>
                <ion-col col-6 align-self-center>
                        <button ion-button color="danger" type="button" (click)="borrarSolicitud(solicitud)" >Rechazar</button>
                </ion-col>
            </ion-row!--> 

            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Nombre</b>
                </ion-col>
                <ion-col col-8>
                    {{cliente.name}}         
                </ion-col>       
            </ion-row>
            <ion-row align-items-center>  
                <ion-col col-4>
                    <b>Email</b>
                </ion-col>
                <ion-col col-8>
                    {{cliente.email}}         
                </ion-col>       
            </ion-row>
            <ion-row align-items-center class="borde">  
                <ion-col col-4>
                    <b>Grupos</b>
                </ion-col>
                <ion-col col-8>
                    {{cliente.groups_id}}         
                </ion-col>       
            </ion-row>
            
            
        </ion-grid>

    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
