<!--
  Generated template for the GatosTourPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle Gastos</ion-title>
     <ion-buttons end>
        <button ion-button icon-only (click)="closeModal('x')">
                <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

   <ion-segment *ngIf="ver_segmento">
        <ion-segment-button  value="camera" icon-start (click)="guardar()">
                <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
            Guardar
        </ion-segment-button>
        <ion-segment-button value="bookmark" icon-start (click)="eliminar()">
                <ion-icon name="ios-trash" ></ion-icon>
            Eliminar
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>

	<div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Guardando...</b>
	</div>

	<ion-grid *ngIf="!cargar">
		<ion-row align-items-center>  
	        <ion-col col-4>
	            <b>Concepto gasto</b>
	        </ion-col>
	        <ion-col col-8>	        	
	            <ion-select name="gasto.concepto_gasto_id" [disabled]="!ver_segmento" [(ngModel)]="gasto.concepto_gasto_id[0]">
	            	<ion-option *ngFor="let gasto_t of gastostours" [value]="gasto_t.id">{{gasto_t.name}}</ion-option>
	            </ion-select>    
	        </ion-col>    
	    </ion-row>            	
	    <ion-row align-items-center>  
	        <ion-col col-4>
	            <b>Total</b>
	        </ion-col>
	        <ion-col col-8>
	            <ion-input name="gasto.Total" type="number" placeholder="0" [readonly]="!ver_segmento" [(ngModel)]="gasto.Total"></ion-input>
	        </ion-col>    
	    </ion-row>            	
	    <ion-row align-items-center>  
	        <ion-col col-4>
	            <b>Moneda</b>
	        </ion-col>
	        <ion-col col-8>	            	            
	            <ion-select name="gasto.tipo_moneda" [disabled]="!ver_segmento" [(ngModel)]="gasto.tipo_moneda">	            	
	            	<ion-option value="usd">USD</ion-option>
	            	<ion-option value="eur">EUR</ion-option>
	            	<ion-option value="rub">RUB</ion-option>
	            	<ion-option value="pp">PayPal</ion-option>
	            	<ion-option value="card">Tarjeta RUB</ion-option>
	            	<ion-option value="cardeu">Tarjeta EUR</ion-option>
	            	<ion-option value="cardusd">Tarjeta USD</ion-option>
	            </ion-select>
	        </ion-col>    
	    </ion-row>            	
	    <ion-row align-items-center>  
	        <ion-col col-4>
	            <b>Ciudad</b>
	        </ion-col>
	        <ion-col col-8>
	            <ion-select name="gasto.ciudad_id" disabled [(ngModel)]="gasto.ciudad_id[0]">        
	            	<ion-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.name}}</ion-option>    	
	            </ion-select>
	        </ion-col>    
	    </ion-row>            	
	    <ion-row align-items-center>  
	        <ion-col col-4>
	            <b>Usuario</b>
	        </ion-col>
	        <ion-col col-8>
	        	<!--<ion-datetime  name="gasto.fecha" displayFormat="YYYY-MM-DD" [(ngModel)]="gasto.fecha"></ion-datetime>-->

	        	<autocomplete [lista]="clientes" [default]="default" placeholder="Usuario" (onselect) = "seleccionCliente($event)"></autocomplete>

	            <!--<ion-input name="gasto.fecha" type="text" [readonly]="!ver_segmento" [(ngModel)]="gasto.fecha"></ion-input-->
	        </ion-col>    
	    </ion-row>
	    <ion-row align-items-center>  
	        <ion-col col-4>
	            <b>Fecha usuario</b>
	        </ion-col>
	        <ion-col col-8>
	        	<ion-datetime  name="gasto.fecha" placeholder="YYYY-MM-DD" displayFormat="YYYY-MM-DD" [(ngModel)]="gasto.fecha"></ion-datetime>

	            <!--<ion-input name="gasto.fecha" type="text" [readonly]="!ver_segmento" [(ngModel)]="gasto.fecha"></ion-input-->
	        </ion-col>    
	    </ion-row>        	     

		<ion-row align-items-center>  
			<ion-col col-12>
				<b>Observaciones</b>
			</ion-col>
		</ion-row>

		<ion-row align-items-center>  
			<ion-col col-12>
				<ion-textarea name="evento.observaciones" placeholder = "Observaciones" [readonly]="!ver_segmento" [(ngModel)]="gasto.observaciones"> </ion-textarea>
			</ion-col>       
		</ion-row>

    			
    </ion-grid>

</ion-content>
